# 01-PythonDictionary-01

In [1]:
empty_dict = {}

In [2]:
empty_dict

{}

In [3]:
bike_owners = {"James" : "Ducati Monster 1200",
                "Jacob" : "Ducati Scrambler 1100",
                "William" : "BMW S 1000 RR",
                "Aiden" : "Harley Davidson"}

bike_owners

{'James': 'Ducati Monster 1200',
 'Jacob': 'Ducati Scrambler 1100',
 'William': 'BMW S 1000 RR',
 'Aiden': 'Harley Davidson'}

In [5]:
bike_owners["James"]

'Ducati Monster 1200'

In [6]:
bike_owners["Aiden"]

'Harley Davidson'

In [7]:
bike_owners["BMW S 1000 RR"] # only allows key index

KeyError: 'BMW S 1000 RR'

In [8]:
int_dict = {1 : 45, 2 : 55, 3 : 65}

int_dict

{1: 45, 2: 55, 3: 65}

In [9]:
student_details = {"Henry" : 1995,
                    "Samuel" : 1999,
                    "Ingrid" : 2005}

student_details

{'Henry': 1995, 'Samuel': 1999, 'Ingrid': 2005}

In [11]:
student_details.keys() # prints out the keys

dict_keys(['Henry', 'Samuel', 'Ingrid'])

In [12]:
"Samuel" in student_details.keys()

True

In [13]:
"Andrew" in student_details.keys()

False

In [14]:
"Henry" in student_details.keys()

True

In [15]:
student_details.values()

dict_values([1995, 1999, 2005])

In [16]:
mixed_dict = {False : "Daniel",
                "Aria" : [1, 2, 3],
                "Jacob" : True}

mixed_dict["Aria"]

[1, 2, 3]

In [18]:
mixed_dict[False]

'Daniel'

In [19]:
bike_details = {"bike_owner" : "James Smith",
                "bike_model" : "Ducati Monster 1200",
                "bike_price" : 28140,
                "engine_displacement" : 1197}

bike_details

{'bike_owner': 'James Smith',
 'bike_model': 'Ducati Monster 1200',
 'bike_price': 28140,
 'engine_displacement': 1197}

In [20]:
bike_details['bike_price'] = 29140 # values are mutable

In [21]:
bike_details

{'bike_owner': 'James Smith',
 'bike_model': 'Ducati Monster 1200',
 'bike_price': 29140,
 'engine_displacement': 1197}

In [22]:
bike_details.get('bike_price')

29140

In [23]:
bike_details

{'bike_owner': 'James Smith',
 'bike_model': 'Ducati Monster 1200',
 'bike_price': 29140,
 'engine_displacement': 1197}

In [24]:
bike_details['num_cylinders'] = 2 # key:values are mutable

In [25]:
bike_details

{'bike_owner': 'James Smith',
 'bike_model': 'Ducati Monster 1200',
 'bike_price': 29140,
 'engine_displacement': 1197,
 'num_cylinders': 2}

In [26]:
del bike_details["engine_displacement"]

In [27]:
bike_details

{'bike_owner': 'James Smith',
 'bike_model': 'Ducati Monster 1200',
 'bike_price': 29140,
 'num_cylinders': 2}

In [28]:
# 02-PythonDictionary-02

In [29]:
fruit_qty = {}

fruit_qty

{}

In [30]:
# assigning key:values to an empty dictionary

fruit_qty['Banana'] = 50

fruit_qty['Apple'] = 78

fruit_qty['Apricot'] = 40

In [31]:
fruit_qty

{'Banana': 50, 'Apple': 78, 'Apricot': 40}

In [32]:
fruit_qty['Orance'] = 70

fruit_qty['Avocado'] = 30

fruit_qty

{'Banana': 50, 'Apple': 78, 'Apricot': 40, 'Orance': 70, 'Avocado': 30}

In [33]:
fruit_qty['Apricot']

40

In [34]:
fruit_qty['Watermelon']

KeyError: 'Watermelon'

In [36]:
fruit_qty['Watermelon'] = 10

fruit_qty

{'Banana': 50,
 'Apple': 78,
 'Apricot': 40,
 'Orance': 70,
 'Avocado': 30,
 'Watermelon': 10}

In [37]:
fruit_qty['Watermelon']

10

In [44]:
fruit_qty_consumed = {'Banana' : [50, 60, 40, 55],
                        'Apple' : [78, 86, 80, 55],
                        'Apricot' : [40, 70, 30, 55],
                        'Orange' : [70, 80, 60, 65],
                        'Avacado' : [30, 50, 40, 45]}

In [45]:
fruit_qty_consumed

{'Banana': [50, 60, 40, 55],
 'Apple': [78, 86, 80, 55],
 'Apricot': [40, 70, 30, 55],
 'Orange': [70, 80, 60, 65],
 'Avacado': [30, 50, 40, 45]}

In [46]:
fruit_qty_consumed['Orange']

[70, 80, 60, 65]

In [47]:
fruit_qty_consumed['Orange'][3]

65

In [48]:
fruit_qty_consumed['Avacado']

[30, 50, 40, 45]

In [49]:
fruit_qty_consumed['Avacado'][3] = 50

In [50]:
fruit_qty_consumed['Avacado']

[30, 50, 40, 50]

In [52]:
# nested dictonaries

fruit_qty_consumed = {
                'Banana' : {'Fri' : 70, 'Sat' : 80, 'Sun' : 95},
                'Apple' : {'Fri' : 90, 'Sat' : 95, 'Sun' : 110},
                'Apricot' : {'Fri' : 70, 'Sat' : 85, 'Sun' : 95},
                'Orange' : {'Fri' : 80, 'Sat' : 90, 'Sun' : 100},
                'Avacado' : {'Fri' : 60, 'Sat' : 70, 'Sun' : 80}
}

In [53]:
fruit_qty_consumed['Apple']

{'Fri': 90, 'Sat': 95, 'Sun': 110}

In [54]:
# indexing into a nested dictionary

fruit_qty_consumed['Apricot']['Sun']

95

In [55]:
fruit_qty_consumed['Apricot']['Mon']

KeyError: 'Mon'

# 03-FunctionsAndMethodsInDictionaries

In [1]:
bike_details = {"bike_owner" : "James Smith",
                "bike_mode" : "Ducati Monster 1200",
                "bike_price": 28140,
                "engine_displacement" : 1197}

bike_details

{'bike_owner': 'James Smith',
 'bike_mode': 'Ducati Monster 1200',
 'bike_price': 28140,
 'engine_displacement': 1197}

In [2]:
len(bike_details)

4

In [3]:
len(bike_details.keys())

4

In [4]:
len(bike_details.values())

4

In [5]:
sorted(bike_details) # sorts the keys

['bike_mode', 'bike_owner', 'bike_price', 'engine_displacement']

In [6]:
sorted(bike_details, reverse = True)

['engine_displacement', 'bike_price', 'bike_owner', 'bike_mode']

In [7]:
sorted(bike_details.values())
# error becaue both numbers and strings are in the values

TypeError: '<' not supported between instances of 'int' and 'str'

In [8]:
bike_details.keys()

dict_keys(['bike_owner', 'bike_mode', 'bike_price', 'engine_displacement'])

In [9]:
bike_details.items() # returns (key,vaues) in a tuple

dict_items([('bike_owner', 'James Smith'), ('bike_mode', 'Ducati Monster 1200'), ('bike_price', 28140), ('engine_displacement', 1197)])

In [12]:
copy_bike_details = bike_details.copy()

In [13]:
copy_bike_details

{'bike_owner': 'James Smith',
 'bike_mode': 'Ducati Monster 1200',
 'bike_price': 28140,
 'engine_displacement': 1197}

In [14]:
copy_bike_details.pop('engine_displacement') # pops the vaule

1197

In [15]:
copy_bike_details

{'bike_owner': 'James Smith',
 'bike_mode': 'Ducati Monster 1200',
 'bike_price': 28140}

In [17]:
copy_bike_details('engine_displacement')

TypeError: 'dict' object is not callable

In [18]:
bike_details # did not effect the original

{'bike_owner': 'James Smith',
 'bike_mode': 'Ducati Monster 1200',
 'bike_price': 28140,
 'engine_displacement': 1197}

In [19]:
copy_bike_details.popitem() # pops last item by default

('bike_price', 28140)

In [20]:
dict_age = {"Ethan": 54, "Sofia" : 50}

new_dict_age = {"Ethan": 55, "Harper": 58}

In [21]:
dict_age.update(new_dict_age) # updates the 1st dictionary with the second

dict_age

{'Ethan': 55, 'Sofia': 50, 'Harper': 58}

In [22]:
copy_bike_details

{'bike_owner': 'James Smith', 'bike_mode': 'Ducati Monster 1200'}

In [23]:
bike_details

{'bike_owner': 'James Smith',
 'bike_mode': 'Ducati Monster 1200',
 'bike_price': 28140,
 'engine_displacement': 1197}

In [25]:
bike_details.clear() #creates an empty dictionary

In [26]:
bike_details

{}

In [27]:
del copy_bike_details # deletes

In [28]:
copy_bike_details

NameError: name 'copy_bike_details' is not defined

# 04-PythonSet-01

In [29]:
set_string = {"Emma", "Olivia", "Ava", "Mia"}

set_string

{'Ava', 'Emma', 'Mia', 'Olivia'}

In [30]:
print(set_string)

{'Emma', 'Mia', 'Olivia', 'Ava'}

In [31]:
empty_set = set() # Initialize set

empty_set

set()

In [32]:
print(type(empty_set))

<class 'set'>

In [33]:
mixed_set = {"Emma", 5, 1.5, True}

mixed_set

{1.5, 5, 'Emma', True}

In [34]:
mixed_set1 = {"Emma", 5, 1.5, True, (1, 2, 3)}

In [35]:
mixed_set1

{(1, 2, 3), 1.5, 5, 'Emma', True}

In [36]:
set_list = {1, 2, 3, [4, 5, 6]}

# elements in a set in Python can only be immutable values

TypeError: unhashable type: 'list'

In [37]:
set_dict = {1, 2, 3, {4: "Emma"}}

TypeError: unhashable type: 'dict'

In [45]:
set_tuple = {1, 2, 3, (4, 5, 6)}

set_tuple

{(4, 5, 6), 1, 2, 3}

In [46]:
set_tuple1 = {1, 2, 3, (4, 5, 6, 6)}
# nested tuples in a set can have duplicates

set_tuple1

{(4, 5, 6, 6), 1, 2, 3}

In [47]:
set_tuple2 = {1, 2, 3, (4, 5, 6), (4, 5, 6)}
# nested tuples can only be unique

set_tuple2

{(4, 5, 6), 1, 2, 3}

In [50]:
student_set = {"Emma", "Olivia", "Ava", "Mia", "Emma", "Ava"}

student_set

{'Ava', 'Emma', 'Mia', 'Olivia'}

In [51]:
set_int = {1, 2, 3, 4, 5, 6, 2, 5, 3, 4}

set_int

{1, 2, 3, 4, 5, 6}

In [53]:
student_set

{'Ava', 'Emma', 'Mia', 'Olivia'}

In [54]:
student_set[1] # sets are un-ordered

TypeError: 'set' object is not subscriptable

In [55]:
set_1 = {1, 2, 3, 4, 8, 'a', 6, 2, 10, 3, 4}

set_1

{1, 10, 2, 3, 4, 6, 8, 'a'}

In [56]:
set_1.add(9)

set_1

{1, 10, 2, 3, 4, 6, 8, 9, 'a'}

In [57]:
set_1.add(9.5)

set_1

{1, 10, 2, 3, 4, 6, 8, 9, 9.5, 'a'}

In [59]:
set_1.add(9) # no duplicates

set_1

{1, 10, 2, 3, 4, 6, 8, 9, 9.5, 'a'}

In [74]:
teacher_set = {"Emma", "Olivia", "Ava", "Mia", "Avery", "Jacob", "Daniel"}

teacher_set

{'Ava', 'Avery', 'Daniel', 'Emma', 'Jacob', 'Mia', 'Olivia'}

In [75]:
len(teacher_set)

7

In [76]:
max(teacher_set)

# returns the string that is the last in the lexicographical order

'Olivia'

In [77]:
min(teacher_set)

'Ava'

In [78]:
del(teacher_ser) # deleting typo

NameError: name 'teacher_ser' is not defined

In [79]:
teacher_ser

NameError: name 'teacher_ser' is not defined

In [80]:
teacher_set.discard('Emma')

teacher_set

{'Ava', 'Avery', 'Daniel', 'Jacob', 'Mia', 'Olivia'}

In [81]:
teacher_set

{'Ava', 'Avery', 'Daniel', 'Jacob', 'Mia', 'Olivia'}

In [82]:
teacher_set.remove('Mia')

teacher_set

{'Ava', 'Avery', 'Daniel', 'Jacob', 'Olivia'}

In [ ]:
teacher_set.disgard('Mia') # disgard does not throw an erro

teacher_set

In [83]:
teacher_set.remove('Mia') # remove will throw an error

teacher_set

KeyError: 'Mia'

In [85]:
teacher_set.clear()

In [86]:
teacher_set

set()

# 05-PythonSet-02

In [87]:
number1 = {1, 2, 3, 4, 5}

number2 = {4, 5, 6, 7, 8}

number3 = {7, 8, 9, 10, 11}

In [88]:
number1.union(number2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [89]:
number_union = number1.union(number2, number3)

number_union

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [90]:
student_set_1 = {"Ava", "Emma", "James"}

student_set_2 = {"James", "Mia", "Olivia"}

student_set_3 = {"Olivia", "Sarah", "Sofia"}

In [91]:
student_set_1.union(student_set_2, student_set_3)

{'Ava', 'Emma', 'James', 'Mia', 'Olivia', 'Sarah', 'Sofia'}

In [92]:
print(number1)

print(number2)

print(number3)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{7, 8, 9, 10, 11}

In [93]:
number1.difference(number2)

{1, 2, 3}

In [94]:
diff_set = student_set_1.difference(student_set_2)

diff_set

{'Ava', 'Emma'}

In [95]:
print(number1)

print(number2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [96]:
number1.intersection_update(number2) 
#common to both sets and updates the 1st set

number1

{4, 5}

In [97]:
number2

{4, 5, 6, 7, 8}

In [98]:
student_set_1, student_set_2, student_set_3
# returns a tuple of sets

({'Ava', 'Emma', 'James'},
 {'James', 'Mia', 'Olivia'},
 {'Olivia', 'Sarah', 'Sofia'})

In [99]:
student_set_1.intersection_update(student_set_2)

student_set_1

{'James'}

In [100]:
student_set_2

{'James', 'Mia', 'Olivia'}

In [103]:
student_set_1 = {"Ava", "Emma", "James"}

student_set_2 = {"James", "Mia", "Olivia"}

student_set_3 = {"Olivia", "Sarah", "Sofia"}

In [104]:
student_set_1.difference_update(student_set_2)

student_set_1

{'Ava', 'Emma'}

In [106]:
{1, 2, 3}.isdisjoint({4, 5, 6})

True

In [108]:
{1, 2, 3}.isdisjoint({1, 5, 6})

False

In [109]:
number1.isdisjoint(number2)

False

In [111]:
{10, 20}.issubset({10, 20, 30})

True

In [112]:
{10, 20, 30}.issubset({10, 20})

False

In [113]:
number1.issuperset(number2)

False

# 06-NestedListAndConversionOfList

In [114]:
car_matrix = [['Hennessey Venom GT', 1244],
                [' SSC Ultimate Aero', 1287],
                ['Zenvo ST1', 1100]]

car_matrix

[['Hennessey Venom GT', 1244],
 [' SSC Ultimate Aero', 1287],
 ['Zenvo ST1', 1100]]

In [115]:
len(car_matrix)

3

In [116]:
len(car_matrix[1])

2

In [117]:
len(car_matrix[2])

2

In [118]:
car_matrix[1][0]

' SSC Ultimate Aero'

In [119]:
car_matrix[1][1]

1287

In [120]:
car_matrix[2][0]

'Zenvo ST1'

In [121]:
car_matrix[1][2]

IndexError: list index out of range

In [122]:
len(car_matrix[1])

2

In [123]:
car_matrix[2][0:2]

['Zenvo ST1', 1100]

In [124]:
car_matrix[1][0:2]

[' SSC Ultimate Aero', 1287]

In [125]:
my_list = ['Leo', 18,
            'Aaron', 25,
            'Easton', 34,
            'Jordan', 30]

my_list

['Leo', 18, 'Aaron', 25, 'Easton', 34, 'Jordan', 30]

In [126]:
tuple(my_list)

('Leo', 18, 'Aaron', 25, 'Easton', 34, 'Jordan', 30)

In [127]:
my_list1 = ['Leo', 18,
            'Aaron', 25,
            'Easton', 34,
            'Jordan', 30]

my_list1

['Leo', 18, 'Aaron', 25, 'Easton', 34, 'Jordan', 30]

In [128]:
tuple(my_list1)

('Leo', 18, 'Aaron', 25, 'Easton', 34, 'Jordan', 30)

In [129]:
student_list = [[1, 'Caleb', 2, 'Leo'],
                [3, 'Easton', 4, 'Jordan']]

In [130]:
student_list

[[1, 'Caleb', 2, 'Leo'], [3, 'Easton', 4, 'Jordan']]

In [131]:
dict(student_list)

# ther eare more than 2 elements in the list

ValueError: dictionary update sequence element #0 has length 4; 2 is required

In [132]:
students_list_2 = [[1, 'Caleb'], [2, 'Leo'],
                    [3, 'Easton'], [4, 'Jordan']]

students_list_2

[[1, 'Caleb'], [2, 'Leo'], [3, 'Easton'], [4, 'Jordan']]

In [133]:
dict(students_list_2)

{1: 'Caleb', 2: 'Leo', 3: 'Easton', 4: 'Jordan'}

In [134]:
students_list_3 = [[1, 'Caleb'],
                   [2, 'Leo'],
                   [3, 'Easton'],
                   [4, 'Jordan','Adam']]

In [135]:
dict(students_list_3)

# one list has more than 2 lements

ValueError: dictionary update sequence element #3 has length 3; 2 is required

In [138]:
students_list_4 = [[1, 'Caleb'],
                   [2, 'Leo'],
                   [3, 'Easton'],
                   [4, ['Jordan', 'Adam']]]

In [139]:
dict(students_list_4)

# values can be any data type

{1: 'Caleb', 2: 'Leo', 3: 'Easton', 4: ['Jordan', 'Adam']}

In [140]:
car_matrix

[['Hennessey Venom GT', 1244],
 [' SSC Ultimate Aero', 1287],
 ['Zenvo ST1', 1100]]

In [143]:
car_matrix_dict = dict(car_matrix)

In [144]:
car_matrix_dict

{'Hennessey Venom GT': 1244, ' SSC Ultimate Aero': 1287, 'Zenvo ST1': 1100}

In [145]:
car_matrix.pop()

['Zenvo ST1', 1100]

In [146]:
car_matrix

[['Hennessey Venom GT', 1244], [' SSC Ultimate Aero', 1287]]

In [147]:
car_matrix_dict # dictionary is uneffected

{'Hennessey Venom GT': 1244, ' SSC Ultimate Aero': 1287, 'Zenvo ST1': 1100}

In [148]:
car_names = list(car_matrix_dict)

In [149]:
car_names # converts the keys in the dictionary into a list

['Hennessey Venom GT', ' SSC Ultimate Aero', 'Zenvo ST1']

In [150]:
car_hp = list(car_matrix_dict.values()) # converts the values. into a list

In [151]:
car_hp

[1244, 1287, 1100]