# 01_IntroducingPythonLists

In [5]:
empty_list = []

In [6]:
empty_list

[]

In [7]:
list_str = ['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

list_str

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [8]:
type(list_str)

list

In [9]:
list_int = [5, 7, 8, 9, 20, 40]

list_int

[5, 7, 8, 9, 20, 40]

In [10]:
list_float = ['5.5', '7.8', '8.5', '9.2', '20.3', '40.6']

list_float

['5.5', '7.8', '8.5', '9.2', '20.3', '40.6']

In [11]:
list_bool = [True, False]

list_bool

[True, False]

In [12]:
mixed_list = ['Nissan Sentra', 1, 2.5, True]

mixed_list

['Nissan Sentra', 1, 2.5, True]

In [13]:
cars_list = ['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

cars_list

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [14]:
print(cars_list[0])

Toyota Camry

In [15]:
print(cars_list[1])

print(cars_list[2])

print(cars_list[3])

Honda Accord
Honda Civic
Toyota Corolla

In [16]:
print(cars_list[4]) # out of range

IndexError: list index out of range

In [17]:
len(cars_list)

4

In [18]:
print("car at index 2: ", cars_list[2])

car at index 2:  Honda Civic

In [19]:
print(cars_list[3])

Toyota Corolla

In [20]:
print(cars_list[1,2]) # you can only use 1 index to access an element in a list

TypeError: list indices must be integers or slices, not tuple

In [21]:
cars_list

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [22]:
print(cars_list[-1])

Toyota Corolla

In [23]:
print(cars_list[-2])

print(cars_list[-3])

print(cars_list[-4])

Honda Civic
Honda Accord
Toyota Camry

In [24]:
print(cars_list[-5])

IndexError: list index out of range

In [25]:
cars_list[-2]

'Honda Civic'

In [26]:
len(cars_list)

4

In [27]:
cars_list

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [28]:
cars_list[3] = 'Nissan Sentra'

print("New car at inde 3 is: ", cars_list[3])

cars_list

New car at inde 3 is:  Nissan Sentra

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Nissan Sentra']

In [29]:
cars_list[2] = 'Hyundai Elantra'

cars_list

['Toyota Camry', 'Honda Accord', 'Hyundai Elantra', 'Nissan Sentra']

# 02_MethodsInList-01

In [30]:
cars_list = ['Toyota Camry', 'Honda Accord',
             'Honda Civic', 'Toyota Corolla']

cars_list

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [31]:
cars_list[4] = 'Hyundai Elantra' 

''' When you're using square brackets, you can only access existing index positions in a list.
If you want to add a new element, you need to invoke specific methods on a list.'''

IndexError: list assignment index out of range

In [32]:
cars_list.append('Hyundai Elantra')

In [33]:
cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra']

In [34]:
cars_list.append('Nissan Sentra', 'Ford Fusion') # append only takes 1 argument

cars_list

TypeError: append() takes exactly one argument (2 given)

In [35]:
len(cars_list)

5

In [36]:
cars_list.insert(6, 'Nissan Sentra')

cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Sentra']

In [37]:
len(cars_list)

6

In [38]:
cars_list.insert(5, "Nissan Altima")

cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Altima',
 'Nissan Sentra']

In [40]:
cars_list.extend(['Kia Optim', 'Kia Soul'])

cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optim',
 'Kia Soul',
 'Kia Optim',
 'Kia Soul']

In [41]:
cars_list2 = ['Hennessey Venom GT', 'Bugatti Veyron', 'Koenigsegg Agera R']

cars_list2

['Hennessey Venom GT', 'Bugatti Veyron', 'Koenigsegg Agera R']

In [42]:
complete_car_list = cars_list + cars_list2

complete_car_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optim',
 'Kia Soul',
 'Kia Optim',
 'Kia Soul',
 'Hennessey Venom GT',
 'Bugatti Veyron',
 'Koenigsegg Agera R']

In [43]:
cars_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Hyundai Elantra',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optim',
 'Kia Soul',
 'Kia Optim',
 'Kia Soul']

In [44]:
complete_car_list.index('Honda Civic')

2

In [45]:
complete_car_list.index('honda Civic') # case matters

ValueError: 'honda Civic' is not in list

In [46]:
complete_car_list.index('Hyundai Elantra')

4

In [47]:
complete_car_list.remove('Hyundai Elantra')

complete_car_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optim',
 'Kia Soul',
 'Kia Optim',
 'Kia Soul',
 'Hennessey Venom GT',
 'Bugatti Veyron',
 'Koenigsegg Agera R']

In [48]:
complete_car_list.index('Hyundai Elantra')

ValueError: 'Hyundai Elantra' is not in list

In [49]:
complete_car_list += ['Chevrolet Cruize', 'Chevrolet Malibu']

complete_car_list

['Toyota Camry',
 'Honda Accord',
 'Honda Civic',
 'Toyota Corolla',
 'Nissan Altima',
 'Nissan Sentra',
 'Kia Optim',
 'Kia Soul',
 'Kia Optim',
 'Kia Soul',
 'Hennessey Venom GT',
 'Bugatti Veyron',
 'Koenigsegg Agera R',
 'Chevrolet Cruize',
 'Chevrolet Malibu']

In [54]:
complete_car_list.sort()

complete_car_list

['Bugatti Veyron',
 'Chevrolet Cruize',
 'Chevrolet Malibu',
 'Hennessey Venom GT',
 'Honda Accord',
 'Honda Civic',
 'Kia Optim',
 'Kia Optim',
 'Kia Soul',
 'Kia Soul',
 'Koenigsegg Agera R',
 'Nissan Altima',
 'Nissan Sentra',
 'Toyota Camry',
 'Toyota Corolla']

In [55]:
complete_car_list.reverse()

complete_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Soul',
 'Kia Optim',
 'Kia Optim',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruize',
 'Bugatti Veyron']

In [56]:
complete_car_list.pop()

'Bugatti Veyron'

In [57]:
complete_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Soul',
 'Kia Optim',
 'Kia Optim',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Chevrolet Cruize']

In [58]:
complete_car_list.pop()

complete_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Soul',
 'Kia Optim',
 'Kia Optim',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu']

In [59]:
complete_car_list.append('Nissan Altima')

complete_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Soul',
 'Kia Optim',
 'Kia Optim',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Nissan Altima']

In [60]:
complete_car_list.count('honda Civic') # case matters

0

In [62]:
complete_car_list.count('Honda Civic')

1

In [63]:
complete_car_list.count('Nissan Altima')

2

In [64]:
set(complete_car_list) # converts list into a set

{'Chevrolet Malibu',
 'Hennessey Venom GT',
 'Honda Accord',
 'Honda Civic',
 'Kia Optim',
 'Kia Soul',
 'Koenigsegg Agera R',
 'Nissan Altima',
 'Nissan Sentra',
 'Toyota Camry',
 'Toyota Corolla'}

In [65]:
print(cars_list)

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla', 'Hyundai Elantra', 'Nissan Altima', 'Nissan Sentra', 'Kia Optim', 'Kia Soul', 'Kia Optim', 'Kia Soul']

In [66]:
cars_list.clear()

In [67]:
cars_list

[]

In [68]:
complete_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Soul',
 'Kia Optim',
 'Kia Optim',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Nissan Altima']

In [69]:
new_cars_list = complete_car_list.copy()

In [70]:
del complete_car_list

In [71]:
complete_car_list

NameError: name 'complete_car_list' is not defined

In [72]:
new_cars_list # the copy is unaffected when the original was deleted

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Soul',
 'Kia Optim',
 'Kia Optim',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Nissan Altima']

In [73]:
another_cars_list = new_cars_list # Shallow copy - list assignment - chane in one will change the other

another_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Soul',
 'Kia Optim',
 'Kia Optim',
 'Honda Civic',
 'Honda Accord',
 'Hennessey Venom GT',
 'Chevrolet Malibu',
 'Nissan Altima']

In [74]:
another_cars_list.remove('Hennessey Venom GT')

In [75]:
another_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Soul',
 'Kia Optim',
 'Kia Optim',
 'Honda Civic',
 'Honda Accord',
 'Chevrolet Malibu',
 'Nissan Altima']

In [76]:
new_cars_list # Hennessey Venom GT also removed from this list due to list assignment

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Sentra',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Soul',
 'Kia Optim',
 'Kia Optim',
 'Honda Civic',
 'Honda Accord',
 'Chevrolet Malibu',
 'Nissan Altima']

In [77]:
new_cars_list.remove('Nissan Sentra')

new_cars_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Soul',
 'Kia Optim',
 'Kia Optim',
 'Honda Civic',
 'Honda Accord',
 'Chevrolet Malibu',
 'Nissan Altima']

In [78]:
another_cars_list # Shallow copy of new_cars_list - changes effect both lists

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Koenigsegg Agera R',
 'Kia Soul',
 'Kia Soul',
 'Kia Optim',
 'Kia Optim',
 'Honda Civic',
 'Honda Accord',
 'Chevrolet Malibu',
 'Nissan Altima']

# 03_MethodsInList-02

In [1]:
list_num = [20, 70, 80, 50, 30, 60, 40]

list_num

[20, 70, 80, 50, 30, 60, 40]

In [3]:
max(list_num)

80

In [4]:
min(list_num)

20

In [5]:
len(list_num)

7

In [6]:
list_num.sort()

list_num

[20, 30, 40, 50, 60, 70, 80]

In [7]:
list_num.append(25)

list_num

[20, 30, 40, 50, 60, 70, 80, 25]

In [8]:
sorted_list_num = sorted(list_num)

In [9]:
sorted_list_num

[20, 25, 30, 40, 50, 60, 70, 80]

In [10]:
list_num

[20, 30, 40, 50, 60, 70, 80, 25]

In [11]:
sum(list_num)

375

In [12]:
list_num *= 2

list_num

[20, 30, 40, 50, 60, 70, 80, 25, 20, 30, 40, 50, 60, 70, 80, 25]

In [13]:
list_num *= 2.0

TypeError: can't multiply sequence by non-int of type 'float'

In [14]:
all([0]) # passing in a single zero item into a function will will return False

False

In [15]:
any([0])

False

In [17]:
any([1])

True

In [18]:
any([0,1]) # checks if any item is non-zero

True

In [19]:
any([list_num])

True

In [22]:
# If you have an empty list with no elements and you invoke the all function on this list, 
## the return value will be True
new_num_list = []

all(new_num_list)

True

In [23]:
any([0])

False

In [24]:
any([1])

True

In [25]:
any(list_num)

True

In [26]:
any(new_num_list)

False

# 04_ListSlicingAndListOperations

In [27]:
my_car_list = ['Toyota Corolla', 'Toyota Camry',
                'Nissan Altima', 'Kia Soul',
                'Kia Optima', 'Honda Civic']

my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [28]:
len(my_car_list)

6

In [29]:
my_car_list[4]

'Kia Optima'

In [30]:
my_car_list[5]

'Honda Civic'

In [31]:
my_car_list[-2]

'Kia Optima'

In [32]:
my_car_list[-4]

'Nissan Altima'

In [33]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [34]:
my_car_list[0:4] # exclude the last index

['Toyota Corolla', 'Toyota Camry', 'Nissan Altima', 'Kia Soul']

In [35]:
my_car_list[0:2]

['Toyota Corolla', 'Toyota Camry']

In [36]:
my_car_list[0:6]

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [37]:
my_car_list[5:6]

['Honda Civic']

In [38]:
my_car_list[3:6]

['Kia Soul', 'Kia Optima', 'Honda Civic']

In [39]:
my_car_list[:3]

['Toyota Corolla', 'Toyota Camry', 'Nissan Altima']

In [40]:
my_car_list[3:]

['Kia Soul', 'Kia Optima', 'Honda Civic']

In [41]:
my_car_list[0:-4]

['Toyota Corolla', 'Toyota Camry']

In [42]:
my_car_list[-4:-1]

['Nissan Altima', 'Kia Soul', 'Kia Optima']

In [43]:
my_car_list[-2:-4]

# start index is after the end index, which is why Python returns an empty list.

[]

In [44]:
my_car_list[-2:-4:-1] # therefore need to indexed backwords

['Kia Optima', 'Kia Soul']

In [45]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [46]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [47]:
my_car_list[0:5:]

['Toyota Corolla', 'Toyota Camry', 'Nissan Altima', 'Kia Soul', 'Kia Optima']

In [48]:
my_car_list[::2]

['Toyota Corolla', 'Nissan Altima', 'Kia Optima']

In [49]:
my_car_list[2:5:2]

['Nissan Altima', 'Kia Optima']

In [50]:
my_car_list[1:4:2]

['Toyota Camry', 'Kia Soul']

In [51]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [52]:
my_car_list[::-1]

['Honda Civic',
 'Kia Optima',
 'Kia Soul',
 'Nissan Altima',
 'Toyota Camry',
 'Toyota Corolla']

In [53]:
my_car_list[2:0:-1]

['Nissan Altima', 'Toyota Camry']

In [54]:
my_car_list[4:1:-1]

['Kia Optima', 'Kia Soul', 'Nissan Altima']

In [55]:
my_car_list[-4:0:-1]

['Nissan Altima', 'Toyota Camry']

In [56]:
my_car_list[::-2]

['Honda Civic', 'Kia Soul', 'Toyota Camry']

In [57]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic']

In [58]:
print(my_car_list)

['Toyota Corolla', 'Toyota Camry', 'Nissan Altima', 'Kia Soul', 'Kia Optima', 'Honda Civic']

In [60]:
len(my_car_list)

6

In [61]:
# This is not often used, but you should know that such assignments are possible.
my_car_list[6:-1] = ['Ford Focus', 'Doge Charter']
# Ford Focus will be assigned to index 6
# Dodge Charger will be assigned to index -1
## Ford Focus is at position 6. And the Dodge Charger is the last element in the list.
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Ford Focus',
 'Doge Charter']

In [62]:
print(my_car_list)

len(my_car_list)

['Toyota Corolla', 'Toyota Camry', 'Nissan Altima', 'Kia Soul', 'Kia Optima', 'Honda Civic', 'Ford Focus', 'Doge Charter']

8

In [63]:
'Ford Focus' in my_car_list

True

In [64]:
my_car_list

['Toyota Corolla',
 'Toyota Camry',
 'Nissan Altima',
 'Kia Soul',
 'Kia Optima',
 'Honda Civic',
 'Ford Focus',
 'Doge Charter']

# 05_StringsAsListsAndStringFunctions

In [1]:
print('World')

World

In [2]:
x = 'World'

x

'World'

In [3]:
x[0]

'W'

In [4]:
x[3]

'l'

In [5]:
x[6]

IndexError: string index out of range

In [6]:
x[0] = 'B' # strings are immutable

TypeError: 'str' object does not support item assignment

In [7]:
a, b, c, d, e = x

print(a)

W

In [8]:
a, b, c, d, e

('W', 'o', 'r', 'l', 'd')

In [9]:
a, b, c, d = x

ValueError: too many values to unpack (expected 4)

In [10]:
a, b,_ ,_ ,_ = x # when you are only interested in the first 2 items in x

print(b)

o

In [11]:
input('How are you?: ')

How are you?: ok

'ok'

In [12]:
place = input('Where are you from?: ')

Where are you from?: New York City

In [13]:
place

'New York City'

In [14]:
len(place)

13

In [15]:
place[9:]

'City'

In [17]:
place[-4:]

'City'

In [18]:
place[4:-4]

'York '

In [19]:
place[0:8:2]

'NwYr'

In [20]:
place[::1]

'New York City'

In [21]:
place[::-1]

'ytiC kroY weN'

In [22]:
place[:8]

'New York'

In [23]:
city = place[:8]

In [24]:
del city

In [25]:
city

NameError: name 'city' is not defined

In [27]:
print(place.startswith('N'))

True

In [28]:
print(place.startswith('n'))

False

In [29]:
print(place.endswith('y'))

True

In [30]:
print(place.endswith('City'))

True

In [31]:
place.count('y')

1

In [32]:
lower_place = place.lower()

In [33]:
lower_place

'new york city'

In [34]:
upper_place = place.upper()

upper_place

'NEW YORK CITY'

In [35]:
upper_place.count('Y')

2

In [36]:
lower_place == upper_place

False

In [37]:
place == upper_place

False

In [38]:
place.find('C')

9

In [39]:
place.find('York')

4

In [40]:
place.index('Y')

4

In [41]:
place.index('c')
# index and the find functions on strings perform very similar operations, 
##except that one throws an error when the string is not found, that is the index function.

ValueError: substring not found

In [42]:
place.find('c') #index and find are very similar functions (index throws an error)

-1

In [45]:
split_place = place.split('k')

split_place

['New Yor', ' City']

In [46]:
place.count(' ')

2

In [47]:
split_place = place.split(' ')

In [48]:
split_place

['New', 'York', 'City']

In [49]:
len(split_place)

3

In [50]:
join_char = ','

join_char.join(split_place)

'New,York,City'

In [52]:
join_char1 = ' '
join_char1.join(split_place)

'New York City'

In [53]:
' '.join(split_place)

'New York City'

In [54]:
"|".join(split_place)

'New|York|City'

# 06_StringsAsSequenceOfCharacters

In [55]:
my_string = "Hello Python World"

print(my_string[0:18])

Hello Python World

In [56]:
print(my_string[6:18])

Python World

In [57]:
print(my_string[0:6])

Hello

In [58]:
print(my_string[6:12])

Python

In [60]:
print(my_string[::2])

HloPto ol

In [61]:
print(my_string[0:18:1])

Hello Python World

In [62]:
print(my_string[0:18:2])

HloPto ol

In [63]:
print(my_string[18:0:-2])

drWnhy le

In [64]:
my_string[4::-1]

'olleH'

In [66]:
print(my_string[::-1])

dlroW nohtyP olleH

In [67]:
some_string = my_string.split()

some_string

['Hello', 'Python', 'World']

In [68]:
"HELLO PYTHON WORLD".isupper()

True

In [69]:
my_string = "HELLO PYTHON WORLD"

my_string

'HELLO PYTHON WORLD'

In [70]:
my_string.lower()

'hello python world'

# 07_TuplesAndSimilaritiesBetweenListAndTuple

In [71]:
my_tuple = ()

my_tuple

()

In [72]:
type(my_tuple)

tuple

In [73]:
print(type(my_tuple))

<class 'tuple'>

In [74]:
int_tuple = (1, 2, 3)

print(int_tuple)

(1, 2, 3)

In [75]:
str_tuple = ("Hello", "Python")

print(str_tuple)

('Hello', 'Python')

In [76]:
print(int_tuple, str_tuple)

(1, 2, 3) ('Hello', 'Python')

In [78]:
combined_tuple = int_tuple + str_tuple

print(combined_tuple)

(1, 2, 3, 'Hello', 'Python')

In [80]:
int_tuple += (10,) #adds to the end of the tuple

print(int_tuple)

(1, 2, 3, 10)

In [82]:
int_tuple += (10) # note the comma

TypeError: can only concatenate tuple (not "int") to tuple

In [83]:
print(str_tuple * 3)

('Hello', 'Python', 'Hello', 'Python', 'Hello', 'Python')

In [84]:
mixed_tuple = (1, 'Hello', 3.4)

print(mixed_tuple)

(1, 'Hello', 3.4)

In [86]:
mixed_tuple = 1, 'Hello', 3.4 # tuples can be written without the brackets

print(mixed_tuple)

(1, 'Hello', 3.4)

In [90]:
a, b, c = mixed_tuple

print(a)
print(b)
print(c)

1
Hello
3.4

In [91]:
nested_tuple = (1, 2, 3, (4, 5, 6))

print(nested_tuple)

(1, 2, 3, (4, 5, 6))

In [92]:
mixed_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

print(mixed_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

In [93]:
my_tuple = ('p','e','r','m','i','t')

my_tuple

('p', 'e', 'r', 'm', 'i', 't')

In [94]:
print(my_tuple[0])

p

In [95]:
print(my_tuple[5])

t

In [96]:
print(my_tuple[6])

IndexError: tuple index out of range

In [97]:
mixed_tuple

('mouse', [8, 4, 6], (1, 2, 3))

In [98]:
print(mixed_tuple[0])

mouse

In [99]:
print(mixed_tuple[0][3])

s

In [100]:
print(mixed_tuple['s']) # [] only works as an index

TypeError: tuple indices must be integers or slices, not str

In [101]:
print(mixed_tuple[1])

[8, 4, 6]

In [102]:
print(mixed_tuple[1][0])

8

In [103]:
nested_tuple = mixed_tuple[2]

print(nested_tuple)

(1, 2, 3)

In [104]:
print(mixed_tuple[2][2])

3

In [105]:
my_tuple = ('E','l','e','p','h','a','n','t')

print(my_tuple[1:])

('l', 'e', 'p', 'h', 'a', 'n', 't')

In [106]:
print(my_tuple[2:4])

('e', 'p')

In [108]:
print(my_tuple[::2])

('E', 'e', 'h', 'n')

In [109]:
print(my_tuple[-1])

t

In [110]:
print(my_tuple[-3])

a

In [111]:
print(my_tuple[::-1])

('t', 'n', 'a', 'h', 'p', 'e', 'l', 'E')

In [112]:
my_tuple = ('H', 'e', 'l', 'l','o')

my_tuple

('H', 'e', 'l', 'l', 'o')

In [113]:
print(my_tuple.index('H'))

0

In [114]:
print(my_tuple.index('o'))

4

In [115]:
my_tuple

('H', 'e', 'l', 'l', 'o')

In [116]:
print('e' in my_tuple)

True

In [117]:
print('t' in my_tuple)

False

In [118]:
print('e' not in my_tuple)

False

In [119]:
my_tuple = ('p', 'y', 't', 'h', 'o', 'n')

len(my_tuple)

6

In [120]:
int_tuple = (1, 4, 9)

len(int_tuple)

3

In [121]:
mixed_tuple

('mouse', [8, 4, 6], (1, 2, 3))

In [123]:
len(mixed_tuple)

3

In [124]:
max(my_tuple)

'y'

In [125]:
max(int_tuple)

9

In [126]:
max(mixed_tuple)

TypeError: '>' not supported between instances of 'list' and 'str'

In [127]:
min(my_tuple)

'h'

In [128]:
min(int_tuple)

1

In [130]:
int_tuple = (1, 4, 9, 9)

sum(int_tuple)

23

In [131]:
list(int_tuple) # converts tuple into a list

[1, 4, 9, 9]

In [132]:
int_tuple = (1, 4, 9, 9)

set(int_tuple) # converts tuple into a set

{1, 4, 9}

# 08_TuplesAndDifferencesBetweenListAndTuple

In [1]:
immutable_tuple_1 = (0, 1, 2, 3)

immutable_tuple_1

(0, 1, 2, 3)

In [2]:
immutable_tuple_1[0] = 4

TypeError: 'tuple' object does not support item assignment

In [9]:
immutable_tuple_2 = (4, 2, 3, (6, 5)) # nested tuple

immutable_tuple_2

(4, 2, 3, (6, 5))

In [10]:
immutable_tuple_2[0]

4

In [11]:
immutable_tuple_2[0] = 4

TypeError: 'tuple' object does not support item assignment

In [12]:
immutable_tuple_2 = (4, 2, 3, [6, 5]) # nested list withn a tuple
    
immutable_tuple_2

(4, 2, 3, [6, 5])

In [13]:
immutable_tuple_2[3]

[6, 5]

In [14]:
immutable_tuple_2[3][1] = 100 # lists within tuples are mutable 

immutable_tuple_2

(4, 2, 3, [6, 100])

In [15]:
my_tuple = ('p', 'y', 't', 'h', 'o', 'n')

my_tuple

('p', 'y', 't', 'h', 'o', 'n')

In [16]:
del my_tuple[3]

TypeError: 'tuple' object doesn't support item deletion

In [17]:
del my_tuple

In [18]:
print(my_tuple)

NameError: name 'my_tuple' is not defined

In [23]:
tuple_a = (1, 2, 3, 4, 5)

tuple_b = ('a', 'b', 'c', 'd', 'e')

In [24]:
zipped = zip(tuple_a, tuple_b)

print(zipped) #only shows the location of the zipped object

<zip object at 0x7f9db071ad08>

In [25]:
# need to assign the zipped tuples to a variable
## and cast it as a tuple
result = tuple(zipped)

print(result)

((1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'))

In [32]:
result = tuple(zipped) # ???? Why an empty tuple the 2nd time ???

print(result)

()

In [35]:
# undoing the above step due to empty tuple
zipped = zip(tuple_a, tuple_b)
result = tuple(zipped)

# unzipping the tuple back into 2 tuples
tuple_x, tuple_y = zip(*result) # For now you can ignore what this asterisk means

In [43]:
print('tuple_x: ', tuple_x)
print('tuple_y: ', tuple_y)

tuple_x:  (1, 2, 3, 4, 5)
tuple_y:  ('a', 'b', 'c', 'd', 'e')

In [44]:
list_a = [6, 7, 8, 9, 10]

list_b = ['a', 'e', 'i', 'o', 'u']

In [45]:
zipped_list = zip(list_a, list_b)

In [46]:
result = list(zipped_list)

print(result) # Note - result is a list of tuples

[(6, 'a'), (7, 'e'), (8, 'i'), (9, 'o'), (10, 'u')]

In [47]:
a = ("John", "Charles", "Mike")

b = ("Manager", "Supervisor", "Engineer")

x = zip(a,b)

In [48]:
print(dict(x))

{'John': 'Manager', 'Charles': 'Supervisor', 'Mike': 'Engineer'}

In [49]:
numbers_list = [1, 2, 3]

str_list = ['one', 'two', 'three']

numbers_tuple = ('ONE', 'TWO', 'THREE', 'FOUR')

result = zip(numbers_list, numbers_tuple)

In [50]:
print(result) # printing the zip result only shows the location in memory

<zip object at 0x7f9db07db448>

In [51]:
result_set = set(result)

In [52]:
print(result_set) # note how sets are unordered

{(2, 'TWO'), (1, 'ONE'), (3, 'THREE')}

In [53]:
result = zip(numbers_list, str_list, numbers_tuple)

In [55]:
result_set = set(result)

print(result_set)

{(1, 'one', 'ONE'), (3, 'three', 'THREE'), (2, 'two', 'TWO')}

# 09_ComplexDataTypesInPython

In [56]:
num_list = [1, 2.5, 'num', True]

print(num_list)

[1, 2.5, 'num', True]

In [57]:
type(num_list)

list

In [58]:
type(num_list[1])

float

In [59]:
type(num_list[3])

bool

In [60]:
num_t = (1, 2.5, 'num', True)

num_t

(1, 2.5, 'num', True)

In [61]:
type(num_t)

tuple

In [62]:
type(num_t[2])

str

In [63]:
my_dictionary = {"a":25,
                 "b":3.4,
                 "c":20}

my_dictionary

{'a': 25, 'b': 3.4, 'c': 20}

In [64]:
type(my_dictionary)

dict

In [65]:
a = {5, 2, 3, '1', 4, 4}

a

{'1', 2, 3, 4, 5}

In [66]:
type(a)

set