# 01_UsingPythonAsACalculator

In [9]:
from platform import python_version

print(python_version())

3.7.3

In [8]:
7 + 9

16

In [9]:
20 + 47

67

In [10]:
27.5 + 9.4 + 2

38.9

In [11]:
17 - 10

7

In [12]:
23.6 - 13.6

10.000000000000002

In [14]:
27.5 + 9.4 - 13

23.9

In [15]:
2 * 6

12

In [16]:
10 * 5.5

55.0

In [17]:
2 * 3 * 1 + 2

8

In [18]:
2 * 3 * (1 + 2)

18

In [19]:
10 ** 2

100

In [20]:
2 ** 4

16

In [22]:
10 / 5

2.0

In [23]:
10 // 5

2

In [25]:
10.5 // 3

3.0

In [26]:
50 % 5

0

In [28]:
(40.5 - 2 * (4 + 7) / 4)

35.0

In [29]:
(40.5 * 10 - 20 * (4 + 7))/5

37.0

In [30]:
"Hello Oliver!" * 3

'Hello Oliver!Hello Oliver!Hello Oliver!'

In [31]:
"Hello Oliver!" + 3

TypeError: can only concatenate str (not "int") to str

# 02_Built-InFunctionsInPython

In [32]:
"Hello world!"

'Hello world!'

In [33]:
print("Hello Oliver!")

Hello Oliver!

In [34]:
print('Hello Oliver!')

Hello Oliver!

In [35]:
print(Hello Oliver!)

SyntaxError: invalid syntax (<ipython-input-35-d2653efec65e>, line 1)

In [36]:
print "Hello Oliver!"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Hello Oliver!")? (<ipython-input-36-01e8ffc0d818>, line 1)

In [37]:
print("Hello Oliver!")

Hello Oliver!

In [38]:
len("Hello Oliver!")

13

In [39]:
print(5 + 4)

9

In [40]:
print(4.5 - 2 * (4 + 7))

-17.5

In [41]:
abs(17)

17

In [42]:
abs(4.5 - 2 * (4 + 7))

17.5

In [43]:
type(17.5)

float

In [44]:
type(17)

int

In [45]:
type("Hello James!")

str

In [46]:
round(17.7)

18

In [47]:
round(-17.5)

-18

In [48]:
round(-17.4)

-17

In [49]:
max(9, 5, 6, 12, 23, 18)

23

In [50]:
min(9, 5, 6, 12, 23, 18)

5

# 03_CreatingVariables

In [51]:
24000

24000

In [52]:
24000 - 10000

14000

In [53]:
14000 - 5000

9000

In [54]:
salary = 24000

salary

24000

In [55]:
house_rent = 10000

food_exp = 5000

In [56]:
house_rent

10000

In [57]:
food_exp

5000

In [58]:
total_expenses = house_rent + food_exp

total_expenses

15000

In [60]:
savings = salary - total_expenses

savings

9000

In [61]:
print("My savings in a year is:", savings)

My savings in a year is: 9000

In [62]:
course_fee = 299
num_of_months = 6

In [65]:
total_fee = course_fees * num_of_months

print(total_fee)

1794

In [66]:
num_1 = 2
num_2 = 2

In [67]:
print(num_1 + num_2)

4

In [68]:
total = num_1 + num_2

In [69]:
total

4

In [70]:
"day" + "light"

'daylight'

In [74]:
num_1 = 2
num_2 = "2"

In [75]:
print(num_1 + num_2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [76]:
type(num_1)

int

In [77]:
type(num_2)

str

In [78]:
x = True
y = False

In [79]:
print('x and y is:', x and y)

x and y is: False

In [80]:
print('x or y is:', x or y)

x or y is: True

In [81]:
print('not x is:', not x)

not x is: False

In [82]:
print('not y is:', not y)

not y is: True

In [83]:
x = "awesome"
x

'awesome'

In [84]:
print("Python is " + x)

Python is awesome

In [85]:
x = "Python is "
y = "awesome "

z = x + y

print(z)

Python is awesome

In [86]:
a = z * 4
print(a)

Python is awesome Python is awesome Python is awesome Python is awesome

In [87]:
len(x)

10

In [88]:
len(z)

18

In [90]:
x = y = z = "Python"

print(x)
print(y)
print(z)

Python
Python
Python

In [91]:
b = x + y

b

'PythonPython'

In [92]:
x = y == z

print(x)

True

In [93]:
a, b, c = 5, 3.2, "Hello"

print(a)
print(b)
print(c)

5
3.2
Hello

In [94]:
color_a = 'Red'
color_b = 'Blue'

print(color_a, color_b)

Red Blue

In [95]:
color_c = color_a

print(color_a, color_b, color_c)

Red Blue Red

In [96]:
color_a = color_b

print(color_a, color_b, color_c)

Blue Blue Red

# 04_MoreVariables

In [103]:
n1 = 34

n2 = 34.5

n3 = 100

In [104]:
s1 = 'Hello'
s2 = 'World'

In [105]:
total_n = n1 + n2 + n3

total_n

168.5

In [106]:
n1 = n1 + 1

n1

35

In [107]:
n2 = n2 + 10

In [108]:
n2

44.5

In [109]:
n3 = n3 - 50

n3

50

In [110]:
n3 = n3 * 50

In [111]:
n3

2500

In [112]:
n3 = n3 / 50

n3

50.0

In [113]:
n1

35

In [114]:
n1 += n1 + 1 # n1 = (35 + 1) + 35 = 71

In [115]:
n1

71

In [116]:
n2

44.5

In [117]:
n2 += 10

In [118]:
n2

54.5

In [119]:
n3

50.0

In [120]:
n3 *= 50

n3

2500.0

In [121]:
n3 /= 50

In [122]:
n3

50.0

In [123]:
concat_string = s1 + s2

concat_string

'HelloWorld'

In [124]:
s1 = s1 + 'Yoohoo'

s1

'HelloYoohoo'

In [125]:
s2 = s2 + 'Yippee'

s2

'WorldYippee'

In [126]:
new_s1 = s1

new_s1

'HelloYoohoo'

In [127]:
s1 = 'Some other value'

s1

'Some other value'

In [128]:
new_s1

'HelloYoohoo'

In [129]:
some_n = n3

some_n

50.0

In [130]:
n3

50.0

In [131]:
n3 *= 1000

n3

50000.0

In [132]:
some_n

50.0

# 05_TheDataTypesInPython

In [133]:
type(23)

int

In [134]:
type(25.5)

float

In [135]:
x = 25

print("Data Type of ", x, 'is', type(x))

Data Type of  25 is <class 'int'>

In [136]:
y = 8.2

print("Data Type of ", y, 'is', type(y))

Data Type of  8.2 is <class 'float'>

In [140]:
z = 5j

print("Data Type of ", z, 'is', type(z))

Data Type of  5j is <class 'complex'>

In [141]:
print(5j * 5j)

(-25+0j)

In [142]:
boolean_value = True

type(boolean_value)

bool

In [143]:
str_value = "commando"

type(str_value)

str

In [145]:
print(0b111) # zero b

7

In [146]:
print(ob111) # not o or O b

NameError: name 'ob111' is not defined

In [147]:
print(0b101)

5

In [148]:
type(0b101)

int

# 06_UseOfQuotesInStringAndSpanMultipleLines

In [149]:
print('I am a single quoted string')

I am a single quoted string

In [150]:
print("I am a double quoted string")

I am a double quoted string

In [152]:
print("python " + 'is ' + """awesome""") # note the spacing

python is awesome

In [154]:
print('python ' * 3)

python python python

In [155]:
print('python' - 3)

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [156]:
print('I'm leating python')

SyntaxError: invalid syntax (<ipython-input-156-2e6448f9aab6>, line 1)

In [157]:
print("I'm learining python")

I'm learining python

In [158]:
print('John said "Hello there!"')

John said "Hello there!"

In [159]:
print('I\'m learning python')

I'm learning python

In [160]:
print("Hello Hohn! \nHow are you?")

Hello Hohn!
How are you?

In [161]:
print("This is a very long line \nbut we can have it span \nmultiple lines.")

This is a very long line
but we can have it span
multiple lines.

In [162]:
print("""I am a triple quoted string""")

I am a triple quoted string

In [163]:
print('''This is a very long
string in python''')

This is a very long
string in python

In [164]:
print("""This is a very long
string in python""")

This is a very long
string in python

In [165]:
print("""This is also a very long string
but we can print it
across multiple lines.""")

This is also a very long string
but we can print it
across multiple lines.

In [166]:
print("This is a very long string,
      in python")

SyntaxError: EOL while scanning string literal (<ipython-input-166-9deb34eb6b3f>, line 1)

In [167]:
print("This is a very long string\
in python")

This is a very long stringin python

In [168]:
print("""This is a very long string \
in python""")

This is a very long string in python

In [169]:
my_var = 'barks'

print('A dog ' + my_var + '!')

A dog barks!

In [171]:
print(f'A dog {my_var}!')

A dog barks!

In [174]:
print('A dog {my_var}!')

A dog {my_var}!

In [175]:
print(f'''A dog {my_var}!''')

A dog barks!

In [176]:
print('A dog {}!'.format(my_var))

A dog barks!

In [177]:
print("Hello \t World")

Hello 	 World

In [178]:
print('C:\\Users\\Q')

C:\Users\Q

# End