# 01_StringCopy

In [1]:
old_str = "Python"

old_str

'Python'

In [2]:
new_str = old_str

In [3]:
print(old_str)
print(new_str)

Python
Python

In [4]:
new_str[2]

't'

In [5]:
new_str[2] = 'T'

TypeError: 'str' object does not support item assignment

In [6]:
import copy

In [7]:
first_str = 'Will'

first_str

'Will'

In [8]:
second_str = copy.copy(first_str)

print("First string: ", first_str)
print("Second string: ", second_str)

First string:  Will
Second string:  Will

In [9]:
second_str = 'Smith'

print("First string: ", first_str)
print("Second string: ", second_str)

First string:  Will
Second string:  Smith

In [11]:
first_str = 'Jonny'

first_str

'Jonny'

In [12]:
second_str = copy.deepcopy(first_str)

print("First string: ", first_str)
print("Second string: ", second_str)

First string:  Jonny
Second string:  Jonny

In [13]:
second_str = 'Depp'

print("First string: ", first_str)
print("Second string: ", second_str)

First string:  Jonny
Second string:  Depp

# 02_ListShallowCopy

In [14]:
names = ["Sara", "David", "Warner", "Sandy"]

names

['Sara', 'David', 'Warner', 'Sandy']

In [15]:
new_names = names # shallow copy

print("Original:", names)
print("Copy:", new_names)

Original: ['Sara', 'David', 'Warner', 'Sandy']
Copy: ['Sara', 'David', 'Warner', 'Sandy']

In [19]:
names[1]

'David'

In [21]:
new_names[1] = 'Ridley'

print("Original: ", names)
print("Modified: ", new_names)

Original:  ['Sara', 'Ridley', 'Warner', 'Sandy']
Modified:  ['Sara', 'Ridley', 'Warner', 'Sandy']

In [22]:
import copy

In [23]:
companies = ["hackerearth", "google", "Facebook"]

companies

['hackerearth', 'google', 'Facebook']

In [24]:
new_companies = copy.copy(companies) # creates deep copy of outer lists

print('Original: ', companies)
print('Modified: ', new_companies)

Original:  ['hackerearth', 'google', 'Facebook']
Modified:  ['hackerearth', 'google', 'Facebook']

In [25]:
new_companies[1]

'google'

In [26]:
new_companies[1] = 'microsoft'

print('Original: ', companies)
print('Modified: ', new_companies)

Original:  ['hackerearth', 'google', 'Facebook']
Modified:  ['hackerearth', 'microsoft', 'Facebook']

In [27]:
old_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

old_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [28]:
new_list = copy.copy(old_list)

print("Old list: ", old_list)
print("New list: ", new_list)

Old list:  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
New list:  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [29]:
old_list[1][1]

5

In [30]:
old_list[1][1] = 'Five' # copy creates a shallow copy of inner lists

print("Old list: ", old_list)
print("New list: ", new_list)

Old list:  [[1, 2, 3], [4, 'Five', 6], [7, 8, 9]]
New list:  [[1, 2, 3], [4, 'Five', 6], [7, 8, 9]]

In [31]:
new_list[2].append('Ten')

print("Orifinal: ", old_list)
print("Modified: ", new_list)

Orifinal:  [[1, 2, 3], [4, 'Five', 6], [7, 8, 9, 'Ten']]
Modified:  [[1, 2, 3], [4, 'Five', 6], [7, 8, 9, 'Ten']]

In [36]:
old_list.append([10, 11, 12])

print("Old list: ", old_list)
print("New list: ", new_list)

Old list:  [[1, 2, 3], [4, 'Five', 6], [7, 8, 9, 'Ten'], [10, 11, 12], [10, 11, 12]]
New list:  [[1, 2, 3], [4, 'Five', 6], [7, 8, 9, 'Ten']]

# 03_ListDeepCopy

In [1]:
names = ["Sara", "David", "Warner", "Sandy"]

names

['Sara', 'David', 'Warner', 'Sandy']

In [3]:
new_names = names.copy()

print("Original: ", names)
print("Modified: ", new_names)

Original:  ['Sara', 'David', 'Warner', 'Sandy']
Modified:  ['Sara', 'David', 'Warner', 'Sandy']

In [4]:
import copy

In [6]:
companies = ["hackerearth", "google", "facebook"]

companies

['hackerearth', 'google', 'facebook']

In [8]:
new_companies = copy.deepcopy(companies)

print("Original: ", companies)
print("Modified: ", new_companies)

Original:  ['hackerearth', 'google', 'facebook']
Modified:  ['hackerearth', 'google', 'facebook']

In [9]:
new_companies[1]

'google'

In [17]:
new_companies[1] = "microsoft"

print("Original: ", companies)
print("Modified: ", new_companies)

Original:  ['hackerearth', 'google', 'facebook']
Modified:  ['skillsoft', 'microsoft', 'facebook']

In [18]:
old_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

old_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [19]:
new_list = copy.deepcopy(old_list)

print("Old list: ", old_list)
print("New list: ", new_list)

Old list:  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
New list:  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [20]:
old_list[1][2]

6

In [21]:
old_list[1][2] = 'Six'

print("Old list: ", old_list)
print("New list: ", new_list)

Old list:  [[1, 2, 3], [4, 5, 'Six'], [7, 8, 9]]
New list:  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [22]:
companies

['hackerearth', 'google', 'facebook']

In [23]:
new_companies[0] = 'skillsoft'

print("Original: ", companies)
print("Modified: ", new_companies)

Original:  ['hackerearth', 'google', 'facebook']
Modified:  ['skillsoft', 'microsoft', 'facebook']

# 04_TupleCopy

In [25]:
fruits = ("apple", "banana", "cherry")

fruits

('apple', 'banana', 'cherry')

In [26]:
new_fruits = fruits

print("Original: ", fruits)
print("Modified: ", new_fruits)

Original:  ('apple', 'banana', 'cherry')
Modified:  ('apple', 'banana', 'cherry')

In [27]:
new_fruits[2]

'cherry'

In [28]:
new_fruits[2] = "orange"

TypeError: 'tuple' object does not support item assignment

In [32]:
fruits = ("apple", ["banana", "cherry"], "blackcurrant")

fruits

('apple', ['banana', 'cherry'], 'blackcurrant')

In [33]:
new_fruits = fruits

print("Original: ", fruits)
print("Modified: ", new_fruits)

Original:  ('apple', ['banana', 'cherry'], 'blackcurrant')
Modified:  ('apple', ['banana', 'cherry'], 'blackcurrant')

In [34]:
new_fruits[1][0]

'banana'

In [35]:
new_fruits[1][0] = 'orange'

print("Original: ", fruits)
print("Modified: ", new_fruits)

Original:  ('apple', ['orange', 'cherry'], 'blackcurrant')
Modified:  ('apple', ['orange', 'cherry'], 'blackcurrant')

In [36]:
import copy

In [37]:
bikes = ('Honda', 'Suzuki', 'Triumph', ['Kawasaki', 'Ducati'])

bikes

('Honda', 'Suzuki', 'Triumph', ['Kawasaki', 'Ducati'])

In [38]:
new_bikes = copy.copy(bikes)

print("Original: ", bikes)
print("Modified: ", new_bikes)

Original:  ('Honda', 'Suzuki', 'Triumph', ['Kawasaki', 'Ducati'])
Modified:  ('Honda', 'Suzuki', 'Triumph', ['Kawasaki', 'Ducati'])

In [39]:
new_bikes[3][0]

'Kawasaki'

In [40]:
new_bikes[3][0] = 'Doge'

print("Original: ", bikes)
print("Modified: ", new_bikes)

Original:  ('Honda', 'Suzuki', 'Triumph', ['Doge', 'Ducati'])
Modified:  ('Honda', 'Suzuki', 'Triumph', ['Doge', 'Ducati'])

In [41]:
new_bikes = copy.deepcopy(bikes)

print("Original: ", bikes)
print("Modified: ", new_bikes)

Original:  ('Honda', 'Suzuki', 'Triumph', ['Doge', 'Ducati'])
Modified:  ('Honda', 'Suzuki', 'Triumph', ['Doge', 'Ducati'])

In [42]:
new_bikes[3][0] = 'Harley Davidson'

print("Original: ", bikes)
print("Modified: ", new_bikes)

Original:  ('Honda', 'Suzuki', 'Triumph', ['Doge', 'Ducati'])
Modified:  ('Honda', 'Suzuki', 'Triumph', ['Harley Davidson', 'Ducati'])

# 05_DictionaryShallowCopy

In [43]:
months = {'jan' : 1, 'feb': 2, 'march': 3, 'april': 4}

months

{'jan': 1, 'feb': 2, 'march': 3, 'april': 4}

In [44]:
new_months = months

print("Original: ", months)
print("Modified: ", new_months)

Original:  {'jan': 1, 'feb': 2, 'march': 3, 'april': 4}
Modified:  {'jan': 1, 'feb': 2, 'march': 3, 'april': 4}

In [45]:
new_months['feb']

2

In [46]:
new_months['feb'] = 'FEB'

print("Original: ", months)
print("Modified: ", new_months)

Original:  {'jan': 1, 'feb': 'FEB', 'march': 3, 'april': 4}
Modified:  {'jan': 1, 'feb': 'FEB', 'march': 3, 'april': 4}

In [47]:
import copy

In [48]:
employees = {"Alison" : 2007, "Bart" : 2008, "Cathy" : 2009, "Dan" : 2010} 

employees

{'Alison': 2007, 'Bart': 2008, 'Cathy': 2009, 'Dan': 2010}

In [50]:
employees_copy = copy.copy(employees)

print(employees)
print(employees_copy)

{'Alison': 2007, 'Bart': 2008, 'Cathy': 2009, 'Dan': 2010}
{'Alison': 2007, 'Bart': 2008, 'Cathy': 2009, 'Dan': 2010}

In [51]:
employees["Alison"]

2007

In [52]:
employee_copy["Alison"] = 2005

print(employees)
print(employees_copy)

{'Alison': 2007, 'Bart': 2008, 'Cathy': 2009, 'Dan': 2010}
{'Alison': 2007, 'Bart': 2008, 'Cathy': 2009, 'Dan': 2010}

In [53]:
orig_dict = {'one':1, 'two':2, 'three':3, 'four':[1, 2, 3, 4.0]}

orig_dict

{'one': 1, 'two': 2, 'three': 3, 'four': [1, 2, 3, 4.0]}

In [54]:
new_dict = copy.copy(orig_dict)

print ('Original:', orig_dict)
print ('Modified:', new_dict)

Original: {'one': 1, 'two': 2, 'three': 3, 'four': [1, 2, 3, 4.0]}
Modified: {'one': 1, 'two': 2, 'three': 3, 'four': [1, 2, 3, 4.0]}

In [55]:
new_dict['four'][3] = 'FOUR'

print ('Original:', orig_dict)
print ('Modified:', new_dict)

Original: {'one': 1, 'two': 2, 'three': 3, 'four': [1, 2, 3, 'FOUR']}
Modified: {'one': 1, 'two': 2, 'three': 3, 'four': [1, 2, 3, 'FOUR']}

In [56]:
new_dict['four'].append(5)

print ('Original:', orig_dict)
print ('Modified:', new_dict)

Original: {'one': 1, 'two': 2, 'three': 3, 'four': [1, 2, 3, 'FOUR', 5]}
Modified: {'one': 1, 'two': 2, 'three': 3, 'four': [1, 2, 3, 'FOUR', 5]}

In [57]:
orig_dict = {'one':1, 'two':2, 'three': {'zero':0, 'one':1}, 'four':4}

orig_dict

{'one': 1, 'two': 2, 'three': {'zero': 0, 'one': 1}, 'four': 4}

In [58]:
new_dict = copy.copy(orig_dict)

print(orig_dict)
print(new_dict)

{'one': 1, 'two': 2, 'three': {'zero': 0, 'one': 1}, 'four': 4}
{'one': 1, 'two': 2, 'three': {'zero': 0, 'one': 1}, 'four': 4}

In [59]:
new_dict['three']['zero'] = 'ZERO'

print(orig_dict)
print(new_dict)

{'one': 1, 'two': 2, 'three': {'zero': 'ZERO', 'one': 1}, 'four': 4}
{'one': 1, 'two': 2, 'three': {'zero': 'ZERO', 'one': 1}, 'four': 4}

In [60]:
orig_dict

{'one': 1, 'two': 2, 'three': {'zero': 'ZERO', 'one': 1}, 'four': 4}

In [61]:
orig_dict = {'one':1, 'two':2, 'three': {0, 1, 2}, 'four':4}

orig_dict

{'one': 1, 'two': 2, 'three': {0, 1, 2}, 'four': 4}

In [62]:
new_dict = copy.copy(orig_dict)

print ('Original:', orig_dict)
print ('Modified:', new_dict)

Original: {'one': 1, 'two': 2, 'three': {0, 1, 2}, 'four': 4}
Modified: {'one': 1, 'two': 2, 'three': {0, 1, 2}, 'four': 4}

In [63]:
new_dict['three']

{0, 1, 2}

In [64]:
new_dict['three'].add(3)

print ('Original:', orig_dict)
print ('Modified:', new_dict)

Original: {'one': 1, 'two': 2, 'three': {0, 1, 2, 3}, 'four': 4}
Modified: {'one': 1, 'two': 2, 'three': {0, 1, 2, 3}, 'four': 4}

In [65]:
orig_dict = {'one':1, 'two':2, 'three': {0, 1, 2}, 'four':4}

orig_dict

{'one': 1, 'two': 2, 'three': {0, 1, 2}, 'four': 4}

In [66]:
new_dict = copy.deepcopy(orig_dict) 
# deep copy of the same example as above

print ('Original:', orig_dict)
print ('Modified:', new_dict)

Original: {'one': 1, 'two': 2, 'three': {0, 1, 2}, 'four': 4}
Modified: {'one': 1, 'two': 2, 'three': {0, 1, 2}, 'four': 4}

In [67]:
new_dict['three']

{0, 1, 2}

In [69]:
new_dict['three'].add(3)

print ('Original:', orig_dict)
print ('Modified:', new_dict)

Original: {'one': 1, 'two': 2, 'three': {0, 1, 2}, 'four': 4}
Modified: {'one': 1, 'two': 2, 'three': {0, 1, 2, 3}, 'four': 4}

# 06_DictionaryDeepCopy

In [70]:
months

{'jan': 1, 'feb': 'FEB', 'march': 3, 'april': 4}

In [71]:
new_months

{'jan': 1, 'feb': 'FEB', 'march': 3, 'april': 4}

In [74]:
months = {'jan': 1, 'feb': 2, 'march': 3, 'april':4}

months

{'jan': 1, 'feb': 2, 'march': 3, 'april': 4}

In [75]:
new_months = months.copy()

print("Original:", months)
print("Modified:", new_months)

Original: {'jan': 1, 'feb': 2, 'march': 3, 'april': 4}
Modified: {'jan': 1, 'feb': 2, 'march': 3, 'april': 4}

In [76]:
new_months['feb']

2

In [77]:
new_months['feb'] = 'FEB'

print("Original:", months)
print("Modified:", new_months)

Original: {'jan': 1, 'feb': 2, 'march': 3, 'april': 4}
Modified: {'jan': 1, 'feb': 'FEB', 'march': 3, 'april': 4}

In [78]:
import copy

In [79]:
employees = {"Alison" : 2007, "Bart" : 2008, "Cathy" : 2009, "Dan" : 2010} 

employees

{'Alison': 2007, 'Bart': 2008, 'Cathy': 2009, 'Dan': 2010}

In [80]:
employees_copy = copy.deepcopy(employees)

print(employees)
print(employees_copy)

{'Alison': 2007, 'Bart': 2008, 'Cathy': 2009, 'Dan': 2010}
{'Alison': 2007, 'Bart': 2008, 'Cathy': 2009, 'Dan': 2010}

In [82]:
employees["Alison"] = 2011

print(employees)
print(employees_copy)

{'Alison': 2011, 'Bart': 2008, 'Cathy': 2009, 'Dan': 2010}
{'Alison': 2007, 'Bart': 2008, 'Cathy': 2009, 'Dan': 2010}

In [83]:
orig_dict

{'one': 1, 'two': 2, 'three': {0, 1, 2}, 'four': 4}

In [84]:
orig_dict = {'one':1, 'two':2, 'three':3, 'four':[1, 2, 3, 4.0]}

orig_dict

{'one': 1, 'two': 2, 'three': 3, 'four': [1, 2, 3, 4.0]}

In [85]:
new_dict = copy.deepcopy(orig_dict)

print ('Original:', orig_dict)
print ('Modified:', new_dict)

Original: {'one': 1, 'two': 2, 'three': 3, 'four': [1, 2, 3, 4.0]}
Modified: {'one': 1, 'two': 2, 'three': 3, 'four': [1, 2, 3, 4.0]}

In [86]:
new_dict['four'][3] = 'FOUR'

print ('Original:', orig_dict) 
print ('Modified:', new_dict)

Original: {'one': 1, 'two': 2, 'three': 3, 'four': [1, 2, 3, 4.0]}
Modified: {'one': 1, 'two': 2, 'three': 3, 'four': [1, 2, 3, 'FOUR']}

In [87]:
new_dict['four'].append(5)

print ('Original:', orig_dict) 
print ('Modified:', new_dict)

Original: {'one': 1, 'two': 2, 'three': 3, 'four': [1, 2, 3, 4.0]}
Modified: {'one': 1, 'two': 2, 'three': 3, 'four': [1, 2, 3, 'FOUR', 5]}

In [88]:
orig_dict

{'one': 1, 'two': 2, 'three': 3, 'four': [1, 2, 3, 4.0]}

In [89]:
orig_dict = {'one':1, 'two':2, 'three': {'zero':0, 'one':1}, 'four':4}

orig_dict

{'one': 1, 'two': 2, 'three': {'zero': 0, 'one': 1}, 'four': 4}

In [91]:
new_dict = copy.deepcopy(orig_dict)

print(orig_dict)
print(new_dict)

{'one': 1, 'two': 2, 'three': {'zero': 0, 'one': 1}, 'four': 4}
{'one': 1, 'two': 2, 'three': {'zero': 0, 'one': 1}, 'four': 4}

In [92]:
new_dict['three']['zero']

0

In [93]:
new_dict['three']['zero'] = 'ZERO'

print(orig_dict)
print(new_dict)

{'one': 1, 'two': 2, 'three': {'zero': 0, 'one': 1}, 'four': 4}
{'one': 1, 'two': 2, 'three': {'zero': 'ZERO', 'one': 1}, 'four': 4}

In [94]:
orig_dict

{'one': 1, 'two': 2, 'three': {'zero': 0, 'one': 1}, 'four': 4}

In [95]:
orig_dict = {'one':1, 'two':2, 'three':{0,1,2}, 'four':4}
orig_dict

{'one': 1, 'two': 2, 'three': {0, 1, 2}, 'four': 4}

In [96]:
new_dict = copy.deepcopy(orig_dict)

print ('Original:', orig_dict)
print ('Modified:', new_dict)

Original: {'one': 1, 'two': 2, 'three': {0, 1, 2}, 'four': 4}
Modified: {'one': 1, 'two': 2, 'three': {0, 1, 2}, 'four': 4}

In [97]:
new_dict['three']

{0, 1, 2}

In [98]:
new_dict['three'].add('THREE')

print ('Original:', orig_dict)
print ('Modified:', new_dict)

Original: {'one': 1, 'two': 2, 'three': {0, 1, 2}, 'four': 4}
Modified: {'one': 1, 'two': 2, 'three': {0, 1, 2, 'THREE'}, 'four': 4}

# 07_SetCopy

In [99]:
set_1 = {'c++', 'php', 'java', 'python'}

set_1

{'c++', 'java', 'php', 'python'}

In [100]:
set_2 = set_1

print("Original:", set_1)
print("Modified:", set_2)

Original: {'python', 'java', 'php', 'c++'}
Modified: {'python', 'java', 'php', 'c++'}

In [101]:
set_2.add('sql')

print("Original:", set_1)
print("Modified:", set_2)

Original: {'sql', 'python', 'java', 'php', 'c++'}
Modified: {'sql', 'python', 'java', 'php', 'c++'}

In [103]:
set_2.pop()

'sql'

In [104]:
print("Original:", set_1)
print("Modified:", set_2)

Original: {'python', 'java', 'php', 'c++'}
Modified: {'python', 'java', 'php', 'c++'}

In [105]:
set_2[2]

TypeError: 'set' object is not subscriptable

In [106]:
set_2[2] = 'ruby'

TypeError: 'set' object does not support item assignment

In [107]:
set_1

{'c++', 'java', 'php', 'python'}

In [108]:
set_1 = {'c++', 'php', ('java', 'python'), 'sql'}

set_1

{('java', 'python'), 'c++', 'php', 'sql'}

In [109]:
set_2 = set_1

print("Original:", set_1)
print("Modified:", set_2)

Original: {('java', 'python'), 'sql', 'php', 'c++'}
Modified: {('java', 'python'), 'sql', 'php', 'c++'}

In [110]:
import copy

In [113]:
teachers_set = {"Ava", "Mia", "Jacob", "Daniel"}

teachers_set

{'Ava', 'Daniel', 'Jacob', 'Mia'}

In [114]:
new_teachers_set = copy.copy(teachers_set)

print(teachers_set)
print(new_teachers_set)

{'Mia', 'Daniel', 'Jacob', 'Ava'}
{'Mia', 'Daniel', 'Jacob', 'Ava'}

In [118]:
teachers_set.add("Emma")

print(teachers_set)
print(new_teachers_set)

{'Daniel', 'Jacob', 'Mia', 'Emma', 'Ava'}
{'Mia', 'Daniel', 'Jacob', 'Ava'}

In [119]:
teachers_set.remove("Ava")

print(teachers_set)
print(new_teachers_set)

{'Daniel', 'Jacob', 'Mia', 'Emma'}
{'Mia', 'Daniel', 'Jacob', 'Ava'}

In [120]:
teachers_set

{'Daniel', 'Emma', 'Jacob', 'Mia'}

In [121]:
teachers_set = {"Ava", "Mia", "Jacob", "Daniel"}

teachers_set

{'Ava', 'Daniel', 'Jacob', 'Mia'}

In [122]:
new_teachers_set = copy.deepcopy(teachers_set)

print(teachers_set)
print(new_teachers_set)

{'Mia', 'Daniel', 'Jacob', 'Ava'}
{'Mia', 'Daniel', 'Jacob', 'Ava'}

In [123]:
teachers_set.add("Emma")

print(teachers_set)
print(new_teachers_set)

{'Daniel', 'Jacob', 'Mia', 'Emma', 'Ava'}
{'Mia', 'Daniel', 'Jacob', 'Ava'}

In [124]:
teachers_set.remove("Ava")

print(teachers_set)
print(new_teachers_set)

{'Daniel', 'Jacob', 'Mia', 'Emma'}
{'Mia', 'Daniel', 'Jacob', 'Ava'}